.container
  - breadcrumb :beneficiarios
  .well
    .row
      %h1.col-md-6
        = 'Lista de Beneficiarios'
  .panel.panel-default
    .panel-body
      = form_tag departamentos_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'

  = will_paginate @beneficiarios, class: 'paginate-bot'

  %table.table.table-striped.table-hover#ctr_row
    %tr
      %th CUI
      %th NOMBRE
      %th SEGUNDO NOMBRE
      %th APELLIDO
      %th SEGUNDO APELLIDO
      %th EDAD
      - if current_user.has_role?(:implementacion) || current_user.has_role?(:admin)
        %th
        %th
        %th

    - @beneficiarios.each do |beneficiario|
      %tr
        %td= beneficiario.cui
        %td= beneficiario.first_name
        %td= beneficiario.second_first_name
        %td= beneficiario.first_last_name
        %td= beneficiario.second_last_name
        %td= beneficiario.age(beneficiario.birth_date)
        - if current_user.has_role?(:implementacion) || current_user.has_role?(:admin)
          %td= link_to 'Ver', beneficiario
          %td= link_to 'Editar', edit_beneficiario_path(beneficiario)
          %td= link_to 'Eliminar', beneficiario, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = will_paginate @beneficiarios, class: 'paginate-bot'

  /= link_to 'New Beneficiario', new_beneficiario_path
