= simple_form_for @municipio, html: { class: 'form-devise' } do |f|
  = f.error_notification

  .form-inputs
    = f.text_field :name, class: 'form-control top', placeholder: 'Nombre'
    = f.number_field :departamento_id, class: 'form-control last', placeholder: 'ID de Departamento'
  .form-actions
    = f.submit 'Guardar', :class => 'btn btn-lg btn-primary btn-block'
