= form_for @municipio do |f|
  - if @municipio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@municipio.errors.count, "error")} prohibited this municipio from being saved:"
      %ul
        - @municipio.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :departamento_id
    = f.number_field :departamento_id
  .actions
    = f.submit 'Save'
