.container
  - breadcrumb :municipios
  .well
    .row
      %h1.col-md-6
        = 'Municipios'
      .col-md-6
        = link_to 'Agregar Municipio', new_municipio_path, class: 'btn btn-default pull-right title-btn'
  %br

  = will_paginate @municipios, class: 'paginate-top'

  %table.table.table-striped.table-hover

    %tr
      %th= 'MUNICIPIO'
      %th= 'DEPARTAMENTO'
      %th
      %th
    - @municipios.each do |municipio|
      %tr
        %td= municipio.name
        %td= municipio.departamento.name
        %td= link_to 'Editar', edit_municipio_path(municipio)
        %td= link_to 'Eliminar', municipio, :method => :delete, :data => { :confirm => 'Confirmar: ' }

  = will_paginate @municipios, class: 'paginate-bot'