.container
  = form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-devise', multipart: true, method: :put } do |f|
    %h2
      = 'Editar'
      = resource_name.to_s.humanize
    = devise_error_messages!
    = image_tag @user.avatar.url(:thumb), width: '170', class: 'avatar'
    = link_to 'Cambiar Avatar', '#', data: {toggle: 'modal', target: '#myModal'}, class: 'btn btn-primary', id: 'crop_btn'
    = f.text_field :first_name, :class => 'form-control top', :placeholder => 'Nombre', :required => ''
    = f.text_field :last_name, :class => 'form-control mid', :placeholder => 'Apellido', :required => ''
    = f.email_field :email, :class => 'form-control mid'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      = 'Currently waiting confirmation for:'
      = resource.unconfirmed_email
    = f.password_field :password, autocomplete: 'off', placeholder: 'Nueva Contraseña', :class => 'form-control mid', id: 'newpwd'
    = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Confirmar Nueva Contraseña', :class => 'form-control mid'
    = f.password_field :current_password, autocomplete: 'off', placeholder: 'Contraseña Actual', :class => 'form-control last'
    = f.submit 'Update', :class => 'btn btn-lg btn-primary btn-block'
    %hr.faded
    %i.requirements
      = 'El campo de contraseña nueva queda en blanco si no requiere cambio.'
      %br
      %br
    %i.requirements
      = 'Se requiere de su contraseña actual para confirmar el cambio.'
      %br
      %br
      = link_to 'Regresar', :back
    - if current_user.admin?
      %h3
        = '¿Eliminar usuario?'
        %p
          = link_to 'Eliminar', registration_path(resource_name), data: { confirm: '¿Seguro?' }, method: :delete, class: 'btn btn-default cancel-acct'

.modal.fade#myModal{tabindex: '-1', role: 'dialog', 'aria-labelledby'=>'myModalLabel', 'aria-hidden'=>'true'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', 'data-dismiss'=>'modal'}
          %span{'aria-hidden'=>'true'}
            = 'x'
          %span.sr-only
            = 'Cerrar'
        %h4.modal-title#myModalLabel
          = 'Recortar'
      .modal-body
        = form_for resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put } do |f|
          .row
            = f.file_field :avatar, class: 'custom-file-input well filef pull-left'
            %div.pull-right.prev{style: 'width:100px; height:100px; overflow:hidden'}
              = image_tag @user.avatar.url(:large), :id => 'preview'
          .cropper{style: 'margin-left: 2.5em; margin-bottom: 1em; margin-top: 2em;'}
            = image_tag @user.avatar.url(:large), :id => 'cropbox'
          .row
            .col-md-8.col-md-offset-2
              %hr.faded
              %h4
                = 'Por favor confirmar ingresando su contraseña actual.'
              - %w[x y w h].each do |attribute|
                = f.hidden_field "crop_#{attribute}"
              = f.password_field :current_password, autocomplete: 'off', placeholder: 'Contraseña Actual', :class => 'form-control last'
              = f.submit 'Actualizar', :class => 'btn btn-lg btn-primary btn-block', id: 'modalsub'
      .modal-footer
        %button.btn.btn-default{type: 'button', 'data-dismiss' => 'modal'}
          = 'Cerrar'