.container
  = form_for(resource, :html => { class: 'form-devise'}, as: resource_name, url: registration_path(resource_name)) do |f|
    %h2 Sign Up
    = devise_error_messages!
    = f.text_field :first_name, :class => 'form-control top', :placeholder => 'Jimminy',  :autofocus => '', :required => ''
    = f.text_field :last_name, :class => 'form-control mid', :placeholder => 'Cricket', :required => ''
    = f.email_field :email, :class => 'form-control mid', :placeholder => 'Email', :required => ''
    = f.password_field :password, autocomplete: 'off', :class => 'form-control mid', :required => '', :placeholder => 'Password'
    = f.password_field :password_confirmation, autocomplete: 'off', :class => 'form-control last', :placeholder => 'Confirm Password', :required => ''
    = f.submit 'Submit', :class => 'btn btn-lg btn-primary btn-block'
    - if @validatable
      %br
      %p.requirements
        = 'Password requires '
        = @minimum_password_length
        ='characters minimum'
        %br
    %hr.faded
    = render 'devise/shared/links'