= simple_form_for @departamento, html: { class: 'form-devise' } do |f|
  = f.error_notification

  .form-inputs
    = f.label 'Nombre'
    = f.text_field :name, class: 'form-control sole'
  .form-actions
    = f.error :base
    = f.submit 'Guardar', :class => 'btn btn-lg btn-primary btn-block'
