%h1 Listing departamentos

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @departamentos.each do |departamento|
    %tr
      %td= departamento.name
      %td= link_to 'Show', departamento
      %td= link_to 'Edit', edit_departamento_path(departamento)
      %td= link_to 'Destroy', departamento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Departamento', new_departamento_path
