.container
  - breadcrumb :departamentos
  .well
    .row
      %h1.col-md-6
        = 'Lista de Departamentos'
      .col-md-6
        = link_to 'Agregar Departamento', new_departamento_path, class: 'btn btn-default pull-right title-btn'
  %br

  .panel.panel-default
    .panel-body
      = form_tag departamentos_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'


  %table.table.table-striped.table-hover

    - @departamentos.each do |departamento|
      %tr
        %td= departamento.name
        %td= link_to 'Municipios', departamento
        %td= link_to 'Editar', edit_departamento_path(departamento)
        %td= link_to 'Eliminar', departamento, :method => :delete, :data => { :confirm => 'Confirmar.' }

  = will_paginate @departamentos, class: 'paginate-bot'