.container
  %h1
    = 'Contenido Inicial'
  %br
  %table.table.table-striped.table-hover
    %tr
      %th ID
      %th
        = 'Título'
      %th
        = 'Contenido'
      %th{colspan:'3'}

    - @articles.each do |article|
      %tr
        %td= article.id
        %td
          = article.title
        %td
          = article.text
        %td
          = link_to 'Ver', article_path(article)
        %td
          = link_to 'Editar', edit_article_path(article)