.container
  %h1
    = 'Contenido Inicial'
  %table.table.table-stripped
    %tr
      %th
        = 'Title'
      %th
        = 'Text'
      %th{colspan:'3'}

    - @articles.each do |article|
      %tr
        %td
          = article.title
        %td
          = article.text
        %td
          = link_to 'Ver', article_path(article)
        %td
          = link_to 'Editar', edit_article_path(article)