%hr
.panel.panel-default
  .panel-body
    = form_tag reportes_transparencia_path, html: { class: 'navbar-form' }, method: 'get' do
      .input-group
        = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar por Representante'
        .input-group-btn
          = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'

= will_paginate @solicituds, class: 'paginate-bot'

%table.table.table-hover.table-striped#ctr_row
  %tr
    %th UBICACIÓN
    %th REPRESENTANTE
    %th FECHA DE ENTREGA
    %th PERFIL

  - @solicituds.each do |solicitud|
    - if solicitud.entregado?
      %tr
        %td= ubicacion(solicitud)
        %td= solicitud.representante
        %td= human_date(solicitud.fecha_entrega)
        %td= link_to 'Ver', reporte_perfil_transparencia_path(solicitud)

%br

= will_paginate @solicituds, class: 'paginate-bot'