.container
  - breadcrumb :transparencia
  .well
    .row
      %h1.col-md-6
        = 'Reporte de Solicitudes'
      = link_to 'Descargar', 'transparencia.xlsx', class: 'btn btn-primary pull-right', style: 'margin-top: 2em; margin-right: 2em;'

  .row
    .container
      .col-md-8.col-md-offset-2
        = content_tag 'div', id: 'datos_deps', data: { departamentos: @dep_solis } do
          %h3.graph_titulo Solicitudes Entregadas por Departamento
        %canvas#canvas2{height: '450', width: '600'}
          = 'Su navegador no es compatible, por favor descargue una nueva versión.'
  %hr

  .panel.panel-default
    .panel-body
      = form_tag reportes_transparencia_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'

  = will_paginate @solicituds, class: 'paginate-bot'

  %table.table.table-hover.table-striped#ctr_row
    %tr
      %th UBICACIÓN
      %th REPRESENTANTE
      %th FECHA DE ENTREGA
      %th PERFIL

    - @solicituds.each do |solicitud|
      - if solicitud.entregado?
        %tr
          %td= ubicacion(solicitud)
          %td= solicitud.representante
          %td= human_date(solicitud.fecha_entrega)
          %td= link_to 'Ver', reporte_perfil_transparencia_path(solicitud)

  %br

  = will_paginate @solicituds, class: 'paginate-bot'