.container
  - breadcrumb :transparencia
  .well
    .row
      %h1.col-md-6
        = 'Reporte de Solicitudes'
      = link_to 'Descargar', 'transparencia.xlsx', class: 'btn btn-primary pull-right', style: 'margin-top: 2em; margin-right: 2em;'

  .row
    .container
      .col-md-8.col-md-offset-2
        = content_tag 'div', id: 'datos_deps', data: { departamentos: @dep_solis } do
          %h3.graph_titulo Solicitudes Entregadas por Departamento
        %canvas#canvas2{height: '450', width: '600'}
          = 'Su navegador no es compatible, por favor descargue una nueva versión.'
  %hr

  .bs-example.bs-example-tabs{:role => "tabpanel"}
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a#home-tab{"aria-controls" => "Home", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#home", :role => "tab"} Lista
      %li{:role => "presentation"}
        %a#profile-tab{"aria-controls" => "Profile", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#profile", :role => "tab"} Departamento
      %li{:role => "presentation"}
        %a#profile-tab{"aria-controls" => "Implemento", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#implemento", :role => "tab"} Implemento
      %li{:role => "presentation"}
        %a#profile-tab{"aria-controls" => "Fecha", "aria-expanded" => "false", "data-toggle" => "tab", :href => "#fecha", :role => "tab", name: 'fecha'} Fecha
    #myTabContent.tab-content
      #home.tab-pane.fade.active.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = render 'lista'
      #profile.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
        = render 'departamento'
      #implemento.tab-pane.fade{"aria-labelledby" => "implemento-tab", :role => "tabpanel"}
        = render 'implemento'
      #fecha.tab-pane.fade{"aria-labelledby" => "fecha-tab", :role => "tabpanel"}
        = render 'fecha'


