.container
  =simple_form_for @user, html: { class: 'form-devise' }, url: admins_create_user_path do |f|
    = f.error_notification
    = f.text_field      :first_name,              class: 'form-control top',  placeholder: 'Nombre',      required: '', autofocus: ''
    = f.text_field      :last_name,               class: 'form-control mid',  placeholder: 'Apellido',    required: ''
    = f.email_field     :email,                   class: 'form-control mid',  placeholder: 'Correo',      required: ''
    = f.password_field  :password,                class: 'form-control mid',  placeholder: 'Contraseña',  required: '', autocomplete: 'off'
    = f.password_field  :password_confirmation,   class: 'form-control last', placeholder: 'Confirmar',   required: '', autocomplete: 'off'
    - if current_user.has_role? :implementacion
      %fieldset{style: 'margin-bottom: 1em;'}
        %legend User Roles
        = hidden_field_tag(:supervisor, 0)
        = check_box_tag(:supervisor, 1, @user.has_role?(:supervisor))
        = f.label(:supervisor)
        %br
        = hidden_field_tag(:ventanilla, 0)
        = check_box_tag(:ventanilla, 1, @user.has_role?(:ventanilla))
        = f.label(:ventanilla)
        %br
        = hidden_field_tag(:usuario, 0)
        = check_box_tag(:usuario, 1, @user.has_role?(:usuario))
        = f.label(:usuario)
    - elsif current_user.has_role? :admin
      %fieldset{style: 'margin-bottom: 1em;'}
        %legend User Roles
        = hidden_field_tag(:admin, 0)
        = check_box_tag(:admin, 1, @user.has_role?(:admin))
        = f.label(:admin)
        %br
        = hidden_field_tag(:supervisor, 0)
        = check_box_tag(:supervisor, 1, @user.has_role?(:supervisor))
        = f.label(:supervisor)
        %br
        = hidden_field_tag(:implementacion, 0)
        = check_box_tag(:implementacion, 1, @user.has_role?(:implementacion))
        = f.label(:implementacion)
        %br
        = hidden_field_tag(:ventanilla, 0)
        = check_box_tag(:ventanilla, 1, @user.has_role?(:ventanilla))
        = f.label(:ventanilla)
        %br
        = hidden_field_tag(:usuario, 0)
        = check_box_tag(:usuario, 1, @user.has_role?(:usuario))
        = f.label(:usuario)
    = f.error :base
    = f.submit 'Enviar', :class => 'btn btn-lg btn-primary btn-block'