%h1 Listing Users

%table
  %tr
    %th
      = 'Name'
    %th
      = 'Email'
    %th{colspan: 3}

  - @users.each do |user|
    %tr
      %td= full_name(user)
      %td= user.email
      %td
        = link_to 'Edit', edit_user_registration_path(user.id)
        /= link_to 'Edit', edit_user_registration_path(user.id)
        /= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
