.container
  - breadcrumb :users
  .well
    .row
      %h1.col-md-6
        = 'Usuarios'
      .col-md-6
        = link_to 'Agregar Usuario', admins_new_user_path, class: 'btn btn-default pull-right title-btn'
  %br

  %table.table.table-striped.table-hover

    %tr
      %th= 'NOMBRE'
      %th= 'CORREO'
      %th= 'ROL'
      %th{colspan: 3}
    - @users.each do |user|
      %tr
        %td= formal_format(user)
        %td= user.email
        %td
          - user.roles.each do |role|
            = role.name + ', '
        - if can?(:edit, user)
          %td= link_to 'Editar', admins_edit_user_path(user.id)
          %td= link_to 'Eliminar', user, :method => :delete, :data => { :confirm => 'Por favor confirmar:' }
        - else
          %td
          %td
  = will_paginate @users, class: 'paginate-bot'