.container
  - breadcrumb :users
  .well
    .row
      %h1.col-md-6
        = 'Usuarios'
      .col-md-6
        = link_to 'Agregar Usuario (pend)', '#', class: 'btn btn-default pull-right title-btn'
  %br

  %table.table.table-striped.table-hover

    %tr
      %th= 'NOMBRE'
      %th= 'CORREO'
      %th{colspan: 3}
    - @users.each do |user|
      %tr
        %td= full_name(user)
        %td= user.email
        %td= link_to 'Edit', edit_user_registration_path(user.id)
        /= link_to 'Edit', edit_user_registration_path(user.id)
        /= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = will_paginate @users, class: 'paginate-bot'