.first-section
  .container
    %h1
      = 'Implementación Deportiva'
    %p
      = 'Ministerio de Cultura y Deporte'
    = button_to 'Solicitud', new_solicitud_path, { method: :get, class: 'btn btn-lg btn-warning' }
.second-section
  .container
    %h1
      = @article_1.title
    %p
      = @article_1.text
.third-section
  .container
    %h1
      = @article_2.title
    %p
      = @article_2.text
.fourth-section
  .container
    %h1
      = @article_3.title
    %p
      = @article_3.text
.fith-section
  .container
    %h1
      = @article_4.title
    %p
      = @article_4.text
  /
    .row
      .col-lg-12
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        .col-lg-3.col-md-4.col-xs-6.thumb
          %a.thumbnail{href: '#'}
            %img.img-responsive{src:'http://placehold.it/400x300', alt:''}
        %hr