.first-section
  .container
    %h1
      = 'Implementación Deportiva'
    %p
      = 'Ministerio de Cultura y Deporte'
    = button_to 'Solicitud', new_solicitud_path, { method: :get, class: 'btn btn-lg btn-warning' }
.second-section
  .container
    %h1
      = 'Blast CMS'
    %p
      = 'lkllkklkklklnknlnnlk lnlnnnlklnklnlnn lknklnlkn'
.third-section
  .container
    %h1
      = 'Blast CMS'
.fourth-section
  .container
    %h1
      = 'Blast CMS'
.fith-section
  .container
    %h1
      = 'Blast CMS'