.first-section
  .container
    %h1
      = 'Implementación Deportiva'
    %p
      = 'Ministerio de Cultura y Deporte'
    = button_to 'Solicitud', new_solicitud_path, { method: :get, class: 'btn btn-lg btn-warning' }
.second-section
  .container
    %h1
      = @article_1.title
    %p
      = @article_1.text
.third-section
  .container
    %h1
      = @article_2.title
    %p
      = @article_2.text
    .well{style: 'height: 50px; width: 50px;'}
    .well{style: 'height: 50px; width: 50px;'}
.fourth-section
  .container
    %h1
      = @article_3.title
      = '¡Genere su solicitud en línea!'
    %p
      = @article_3.text
.fith-section
  .container
    %h1
      = @article_4.title
    %p
      = @article_4.text