.container
  .jumbotron
    %h1
      = 'Blast CMS'
      %p
        = "Blast is a very simple content management system that's growing to include very cool features. Check back to see whats new or contribute at github"
      = button_to 'Blog', new_user_registration_path, { method: :get, class: 'btn btn-lg btn-primary' }
      = button_to 'Admin', rails_admin_path, { method: :get, class: 'btn btn-lg btn-default' }

  %ul.col-md-6
    - @articles.each do |article|
      %li.well.artic
        %h2
          = article.title
        = article.text
        %div
        = link_to 'Show', article_path(article)
        = link_to 'Edit', edit_article_path(article)
        = link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }