.nested-fields
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = 'Beneficiario'
    .panel-body
      .col-md-6
        .well
          = f.input :cui, label: false, placeholder: 'CUI'
          = f.input :first_name, label: false, placeholder: 'Primer Nombre'
          = f.input :second_first_name, label: false, placeholder: 'Segundo Nombre'
          = f.input :first_last_name, label: false, placeholder: 'Apellido'
          = f.input :second_last_name, label: false, placeholder: 'Segundo Apellido'
      .col-md-6
        .well
          = f.input :departamento, collection: Departamento.order(:name), value_method: :name, prompt: 'Departamento', label: false
          = f.input :municipio, collection: Departamento.order(:name), value_method: :name, as: :grouped_select, label: false, group_method: :municipios, prompt: 'Municipio'
          = f.input :pueblo, collection: Pueblo.all, label: false, value_method: :name, prompt: 'Pueblo'
      = link_to_remove_association 'Eliminar', f, class: 'btn btn-default pull-right'