.nested-fields
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = 'Beneficiario'
    .panel-body
      .col-md-6
        .well
          = f.input :cui, label: false, placeholder: 'CUI'
          = f.input :first_name, label: false, placeholder: 'Primer Nombre'
          = f.input :second_first_name, label: false, placeholder: 'Segundo Nombre'
          = f.input :first_last_name, label: false, placeholder: 'Apellido'
          = f.input :second_last_name, label: false, placeholder: 'Segundo Apellido'
          = f.hidden_field :entidad, value: '1300000002000'
      .col-md-6
        .well
          .fecha
            = f.input :birth_date, label: 'Fecha de Nacimiento', as: :date, start_year: Date.today.year - 90,
                      end_year: Date.today.year - 1, order: [:day, :month, :year]
          .partida
            %p{style: 'margin-top: 1em;'}
              %b Partida de Nacimiento
            = f.input :no_partida_nacimiento, label: false, placeholder: 'No. de Partida'
            = f.input :folio_partida_nacimiento, label: false, placeholder: 'Folio de Partida'
            = f.input :libro_partida_nacimiento, label: false, placeholder: 'Libro de Partida'
        .well
          = f.input :departamento, collection: Departamento.order(:name), value_method: :id, prompt: 'Departamento', label: false
          = f.input :municipio, collection: Departamento.order(:name), value_method: :id, as: :grouped_select, label: false, group_method: :municipios, prompt: 'Municipio'
          = f.input :pueblo, collection: Pueblo.all, label: false, value_method: :id, prompt: 'Pueblo'
          = f.input :idioma, collection: Idioma.all, label: false, value_method: :id, prompt: 'Idioma'
      = link_to_remove_association 'Eliminar', f, class: 'btn btn-default pull-right'