= simple_form_for @solicitud, html: { class: 'form-devise' } do |f|
  = f.error_notification

  .form-inputs
    = f.input :departamento, collection: Departamento.order(:name), value_method: :name, prompt: 'Departamento', label: false
    = f.input :municipio, collection: Departamento.order(:name), value_method: :name, as: :grouped_select, label: false, group_method: :municipios, prompt: 'Municipio'

  .well
    .input_fields_wrap
      = f.input_field :comunidades, as: :string, multiple: true
      = link_to 'Add', '#', class: 'add_field_button'

  .well
    .input_fields_wrap_second
      #tasks
        = f.simple_fields_for :implementos do |implemento|
          = render 'implemento_fields', :f => implemento
        .links
          = link_to_add_association 'Add', f, :implementos

  = f.association :solicitante, label_method: :complete_name, prompt: 'Solicitante', label: false

  .form-actions
    = f.button :submit
