.nested-fields
  = f.input :first_name, class: 'form-control top', placeholder: 'Primer Nombre', label: false
  = f.input :second_name, class: 'form-control top', placeholder: 'Segundo Nombre', label: false
  = f.input :first_last_name, class: 'form-control top', placeholder: 'Primer Apellido', label: false
  = f.input :second_last_name, class: 'form-control top', placeholder: 'Segundo Appellido', label: false
  = f.input :cui, class: 'form-control top', placeholder: 'DPI', label: false
  = f.input :tel, class: 'form-control top', placeholder: 'Teléfono', label: false
  = f.input :email, class: 'form-control top', placeholder: 'Email', label: false