.container
  - breadcrumb :solicitudes
  .well
    .row
      %h1.col-md-6
        = 'Lista de Solicitudes'
  .panel.panel-default
    .panel-body
      = form_tag solicituds_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'

  = will_paginate @solicituds, class: 'paginate-bot'

  %table.table.table-striped.table-hover
    %tr
      %th Correlativo
      %th Estado
      %th Beneficiarios
      %th Departamento
      %th
      %th
      %th

    - @solicituds.each do |solicitud|
      %tr
        %td= solicitud.correlativo
        %td= 'Estado'
        %td= solicitud.beneficiarios.count
        %td= solicitud.departamento.name
        %td= link_to 'Show', solicitud
        %td= link_to 'Edit', edit_solicitud_path(solicitud)
        %td= link_to 'Destroy', solicitud, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = will_paginate @solicituds, class: 'paginate-bot'
