.container
  - breadcrumb :solicitudes
  .well
    .row
      %h1.col-md-6
        = 'Lista de Solicitudes'
  .panel.panel-default
    .panel-body
      = form_tag solicituds_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar por Correlativo'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'
  .row
    .col-md-3
      %h4{style: 'text-align: center;'}
        = 'Pendientes: '
        %span{style: 'margin-left: 1em; font-weight: 300;'}
        = @solicituds.where('state = ?', 'pendiente').count
    .col-md-3
      %h4{style: 'text-align: center;'}
        = 'Confirmadas: '
        %span{style: 'margin-left: 1em; font-weight: 300;'}
        = @solicituds.where('state = ?', 'confirmado').count
    .col-md-3
      %h4{style: 'text-align: center;'}
        = 'Reservadas: '
        %span{style: 'margin-left: 1em; font-weight: 300;'}
        = @solicituds.where('state = ?', 'reservado').count
    .col-md-3
      %h4{style: 'text-align: center;'}
        = 'Entregadas: '
        %span{style: 'margin-left: 1em; font-weight: 300;'}
        = @solicituds.where('state = ?', 'entregado').count

  = will_paginate @solicituds, class: 'paginate-bot'

  %table.table.table-hover#ctr_row
    %tr
      %th CORRELATIVO
      %th ESTADO
      %th BENEFICIADOS
      %th DEPARTAMENTO
      %th PERFIL
      %th DESCARGAR

    - @solicituds.each do |solicitud|
      - if solicitud.reservado?
        %tr{class: 'success'}
          %td= solicitud.correlativo
          %td= solicitud.state.capitalize
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
          %td= link_to 'RENAP', nueva_sol_path(solicitud)
      - elsif solicitud.confirmado?
        %tr{class: 'info'}
          %td= solicitud.correlativo
          %td= solicitud.state.capitalize
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
          %td= link_to 'RENAP', nueva_sol_path(solicitud)
      - elsif solicitud.pendiente?
        %tr{class: 'warning'}
          %td= solicitud.correlativo
          %td= solicitud.state.capitalize
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
          %td= link_to 'RENAP', nueva_sol_path(solicitud)
      - else
        %tr
          %td= solicitud.correlativo
          %td= solicitud.state.capitalize
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
          %td= link_to 'RENAP', nueva_sol_path(solicitud)

  %br

  = will_paginate @solicituds, class: 'paginate-bot'
