.container
  - breadcrumb :solicitudes
  .well
    .row
      %h1.col-md-6
        = 'Lista de Solicitudes'
  .panel.panel-default
    .panel-body
      = form_tag solicituds_path, html: { class: 'navbar-form' }, method: 'get' do
        .input-group
          = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Buscar'
          .input-group-btn
            = submit_tag 'Buscar', :name => nil, class: 'btn btn-default'

  = will_paginate @solicituds, class: 'paginate-bot'

  %table.table.table-hover#ctr_row
    %tr
      %th ID
      %th CORRELATIVO
      %th ESTADO
      %th BENEFICIADOS
      %th DEPARTAMENTO
      %th PERFIL

    - @solicituds.each do |solicitud|
      - if solicitud.id == 2
        %tr{class: 'success'}
          %td= solicitud.id
          %td= solicitud.correlativo
          %td= 'Estado'
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
      - elsif solicitud.id == 4
        %tr{class: 'info'}
          %td= solicitud.id
          %td= solicitud.correlativo
          %td= 'Estado'
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
      - elsif solicitud.id == 6
        %tr{class: 'warning'}
          %td= solicitud.id
          %td= solicitud.correlativo
          %td= 'Estado'
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
      - elsif solicitud.id == 8
        %tr{class: 'danger'}
          %td= solicitud.id
          %td= solicitud.correlativo
          %td= 'Estado'
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud
      - else
        %tr
          %td= solicitud.id
          %td= solicitud.correlativo
          %td= 'Estado'
          %td= solicitud.beneficiarios.count
          %td= solicitud.departamento.name
          %td= link_to 'Ver', solicitud

  %br

  = will_paginate @solicituds, class: 'paginate-bot'
