.container
  = form_for(resource, :html => { class: 'form-devise'}, as: resource_name, url: session_path(resource_name)) do |f|
    %h2 Ingresar
    = f.email_field :email, :class => 'form-control top', :placeholder => 'Correo', :required => '',  :autofocus => ''
    = f.password_field :password, autocomplete: 'off', :class => 'form-control last', :placeholder => 'Contraseña', :required => ''
    - if devise_mapping.rememberable?
      %label.checkbox.rember
        = f.check_box :remember_me, :value => 'Recordar'
        = f.label 'Recordar'
    = f.submit 'Enviar', :class => 'btn btn-lg btn-primary btn-block'
    %hr.faded
    = render 'devise/shared/links'