.container
  = form_for(resource, :html => { class: 'form-signin'}, as: resource_name, url: session_path(resource_name)) do |f|
    %h2 Sign In
    = f.email_field :email, :class => 'form-control', :placeholder => 'Email', :required => '',  :autofocus => ''
    = f.password_field :password, autocomplete: 'off', :class => 'form-control', :placeholder => 'Password', :required => ''
    - if devise_mapping.rememberable?
      %label.checkbox.rember
        = f.check_box :remember_me, :value => 'remember-me'
        = f.label :remember_me
    = f.submit 'Submit', :class => 'btn btn-lg btn-primary btn-block'
    %hr.faded
    = render 'devise/shared/links'