.row
  .col-md-3.dash-cont
    %i.fa.fa-map-marker.dash-icon.fa-4x
    %h3
      = link_to 'Departamentos', departamentos_path
  .col-md-3.dash-cont
    %i.fa.fa-map-marker.dash-icon.fa-4x
    %h3
      = link_to 'Municipios', municipios_path
  .col-md-3.dash-cont
    %i.fa.fa-users.dash-icon.fa-4x
    %h3
      = link_to 'Usuarios', users_path
  .col-md-3.dash-cont
    %i.fa.fa-language.dash-icon.fa-4x
    %h3
      = link_to 'Idiomas', idiomas_path
.row{style: 'margin-top: 5em;'}
  .col-md-3.dash-cont
    %i.fa.fa-globe.dash-icon.fa-4x
    %h3
      = link_to 'Pueblos', pueblos_path
  .col-md-3.dash-cont
    %i.fa.fa-futbol-o.dash-icon.fa-4x
    %h3
      = link_to 'Implementos', implementos_path
  .col-md-3.dash-cont
    %i.fa.fa-file-text.dash-icon.fa-4x
    %h3
      = link_to 'Contenido', articles_path
  .col-md-3.dash-cont
    %i.fa.fa-suitcase.dash-icon.fa-4x
    %h3
      = link_to 'Solicitudes', solicituds_path
.row{style: 'margin-top: 5em;'}
  .col-md-3.dash-cont
    %i.fa.fa-child.dash-icon.fa-4x
    %h3
      = link_to 'Beneficiarios', beneficiarios_path