.row#dash_row
  .dash_sidebar.col-md-2
    = image_tag @user.avatar_url(:thumb), width: '200', class: 'avatar'
    %h1.name
      = full_name(current_user)
    %h4.email
      = current_user.email

  .col-md-8.col-md-offset-1
    - if current_user.admin?
      .well
        %h1
          = 'Administrador'
      = render 'admin_dash'
    - elsif current_user.has_role? :supervisor
      .well
        %h1
          = 'Supervisor'
      = render 'supervisor_dash'
    - elsif current_user.has_role? :implementacion
      .well
        %h1
          = 'Implementacion'
      = render 'implementacion_dash'
    - elsif current_user.has_role? :ventanilla
      .well
        %h1
          = 'Ventanilla'
      = render 'ventanilla_dash'
    - else
      .well
        %h1
          = 'Too Bad'
