.row#dash_row
  .dash_sidebar.col-md-2
    = image_tag @user.avatar_url(:thumb), width: '200', class: 'avatar img-responsive'
    %h1.name
      = full_name(current_user)
    %h4.email
      = current_user.email

  .col-md-8.col-md-offset-1
    %br
    %br
    - if current_user.admin?
      .well
        %h1
          = 'Administrador'
      %br
      %br
      = render 'admin_dash'
    - elsif current_user.has_role? :supervisor
      = render 'graphs'
      %br
      %br
      .well
        = render 'supervisor_dash'
    - elsif current_user.has_role? :implementacion
      = render 'graphs'
      %br
      %br
      .well
        = render 'implementacion_dash'
        %br
    - elsif current_user.has_role? :ventanilla
      = render 'graph_ventanilla'
      %br
      %br
      .well
        = render 'ventanilla_dash'
    - else
      .well
        %h1
          = 'Solicite permisos adicionales al administrador.'
