%nav{class:'navbar navbar-custom', role:'navigation'}
  .container-fluid
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle.collapsed{type:'button', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
      %span.sr-only
        = 'Toggle navigation'
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to root_path do
      = image_tag 'logo.jpg', id: 'logo'

  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse#bs-example-navbar-collapse-1
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'Inicio', root_path, class: 'active'
      %li
        = link_to 'Solicitud', new_solicitud_path
      %li
        = link_to 'Transparencia', reportes_transparencia_path
      - if user_signed_in?
        %li.dropdown
          %a.dropdown-toggle{href:'#', 'data-toggle' => 'dropdown'}
            = "Hola, #{current_user.first_name}!"
            %span.caret
          %ul.dropdown-menu{role:'menu'}
            %li
              = link_to 'Editar Perfil', edit_user_registration_path
            %li
              = link_to 'Panel de Control', user_dashboard_show_path(current_user.id)
            %li.divider
            %li
              = link_to 'Cerrar Sesión', destroy_user_session_path, :method => 'delete'
            - if current_user.admin?
              %li.divider
              %li
                = link_to 'Admin', rails_admin_path
      - else
        /%li
        /= link_to 'Ingresar', new_user_session_path